@model HMS.Areas.Dashboard.ViewModels.AccomodationTypesListingModel

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col col-lg-12">
        <h2>Accomodation Types</h2>
        <hr />
    </div>
</div>
<div class="row mb-3">
    <div class="col col-lg-12">
        <form>
            <div class="input-group">
                <input type="text" name="searchterm" class="form-control" placeholder="Search." value="@Model.SearchTerm" required>
                <div class="input-group-text">
                    <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-magnifying-glass m-1"></i>Search</button>
                    <a class="btn btn-outline-secondary" href="@Url.Action("Index", "AccomodationTypes")"><i class="fa-solid fa-arrow-rotate-right m-1"></i>Reset</a>
                    <button data-href="@Url.Action("Action", "AccomodationTypes")" class="data-btn btn btn-outline-success" type="button" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="fa-solid fa-plus m-1"></i>Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col col-lg-12">
        @{
            Html.RenderPartial("_listing", Model);
         }
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="actionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">

    </div>
</div>

<script>
    $(".data-btn").click(function () {

        $.ajax({
            url: $(this).attr("data-href"),
            type: 'GET',

        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
</script>

<script>
    /*
       $.ajax({
           url: 'Url.Action("Action", "AccomodationTypes")',
       })
       .done(function (response) {
               $("#actionModal .modal.dialog").html(response);
       });

        success: function (response) {
               $("#actionModal .modal-dialog").html(response);
           },
           error: function (jqXHR, textStatus, errorThrown) {
               alert('Error: ' + jqXHR.status);
           } // <-- remove the trailing comma you had here

   */
</script>